.banner1{
    background-image: url('/src/assets/banner1.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
    width: 100%;
    height: 400px;
}
.banner2{
    background-image: url('/src/assets/banner.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
    width: 100%;
    height: 400px;
}

.home-slider{
	margin: 10px auto;
}